*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    border-bottom: black solid 2px;
}

.productos_grid{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-around;
}

.img_producto{
    max-width: 300px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: black solid 2px;
}

.navbar-brand{
    color: black;
    font-family: 'Dancing Script', cursive;
    font-size: 2rem;
}

.nav-item{
    color: black;
    font-family :'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.2rem;
}

.nav-link{   
    color: black;
    font-family :'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.2rem;
}

.cuerpo{
    background-color: #F29494;
    width: 85vw;
    height: 100vh;
    margin: 0 auto;
    border-left: black solid 1px;
    border-right: black solid 1px;
}

.cuerpo_productos{
    background-color: #F29494;
    width: 85vw;
    height: auto;
    margin: 0 auto;
    border-left: black solid 1px;
    border-right: black solid 1px;
}

.pie_pagina{
    background-color: #F29863;
    width: 100%;
    height: 30%;
    border-top: black solid 3px;
    display: flex;
}

.logo{
    margin-right: 5px;
}

.contenedor_icono svg{
    width: 30px;
    height: 30px;
}

.contenedor_icono{
    margin-right: 10px;
    color: black;
}

.cuerpo_index{
    width: 100vw;
    height: 100vh;
}

.contactos_pie_pagina{
    margin-top: 15px;
    display: flex;
}

.contactos{
    margin-top: 15px;
    display: flex;
}


.iconos{
    display: flex;
}


.link_pie_pagina{
    font-style: normal;
    text-decoration: none;
    margin-left: 3px;
    margin-top: 2px;
    color: black;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1rem;
}

.link{
    font-style: normal;
    text-decoration: none;
    margin-left: 3px;
    margin-top: 2px;
    color: black;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1rem;
}


#contenedor_texto{
    width: 50%;
    height: 100%;
    margin-left: 30%;
    margin-top: 3%;
    padding-right: 10px;
}

.form_usuario{
    margin: 0 auto;
    max-width: 85%;
    padding-top: 100px;
}

.texto{
    width: 100%;
    height: 100%;
}

.mapa{
    width: 50%;
    height: 50%;
    margin-top: 3%;
    margin-left: 20px;
}


#facebook{
    color: rgb(0, 0, 184);
    margin-left: 20px;
}

#whatsapp{
    color: green;
    margin-left: 20px;
}

#instagram{
    color: rgb(177, 35, 177);
    margin-left: 20px;
}

#gmail{
    color: red;margin-left: 20px;
}



@media (max-width: 347px){
    .logo{
        display: none;
    }
}

@media (min-width: 991px){
    .contenedor_pie_pagina{
        display: flex;
        align-content: space-around;
        margin: 0 auto;
    }

    #facebook{
        margin-top: 15px;
    }
}


@media (max-width: 991px){
    .iconos{
        display: none;
    }
    .cuerpo{
        background-color: #F29494;
        width: 100vw;
        height: 100vh;
        border: none;
    }

    #contenedor_texto{
        width: 50%;
        height: 100%;
        margin-left: 25%;
        margin-top: 3%;
        padding-right: 20px;
    }
}

@media (min-width: 391px){
    .contenedor_contactos{
        display: flex;
        height: 20%;
    }

}

@media (max-width: 391px){
    .logo{
        width: 50px;
        height: 30px;
    }
    
    #contenedor_texto{
        height: 90px;
        width: 90%;
        margin-left: 20px;
    }

    .mapa{
        width: 90%;

    }

    .img_producto{
        max-width: 200px;
    }

}

@media (min-width: 991px){
    #carrito{
        display: none;
    }
    #usuario{
        display: none;
    }
}

@media (max-width:1090px){
    .productos_grid{
        display: grid;
        grid-template-columns:auto auto;
        justify-content: space-around;
    }
}

@media (max-width:740px){
    .productos_grid{
        display: grid;
        grid-template-columns: auto;
        justify-content: space-around;
    }
}

@media (max-width:767px){
    .form_usuario{
        margin: 0 auto;
        max-width: 85%;
        padding-top: 20px;
    }
}